
.main{
    display: flex;
    background-color: #faf6ea ;
    flex-direction: column;
    padding: 20px 40px;
}
.last-update {
    border-radius: 5px;
    background: rgba(11,26,42,0.9);
    color: #fff;
    font-size: 0.9rem;
    padding: 1px 7px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin: 20px 0;

}
th {
    cursor: pointer;
}

fa-icon {
    opacity: 0.3;
    font-size: 18px;
}

.highlight {
    color: red;
}
